<section class="main-layout">
<div style="display: block;" class="chart">
  <canvas baseChart width="60" height="60"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
<!-- <div style="display: block;" class="chart">
  <canvas baseChart width="60" height="60"
    [datasets]="secondChartData"
    [labels]="secondChartLabels"
    [options]="secondChartOptions"
    [colors]="secondChartColors"
    [legend]="secondChartLegend"
    [chartType]="secondChartType"
    [plugins]="secondChartPlugins">
  </canvas>
</div> -->
</section>

