<section class="main-layout contact-edit">
  <a (click)="goBack()" class="back-arrow">&larr;</a>
  <h1>{{ title }}</h1>
  <form ngNativeValidate (submit)="onSaveContact()">
    <div>
      <label for="name">Name</label>
      <div class="flex align-center">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter name"
          [(ngModel)]="contact.name"
          #name="ngModel"
          required
        />
        <img
          src="../../../assets/icons/contact-grey.svg"
          alt="name"
          class="input-icon"
        />
      </div>
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="name.errors.required">Name is required.</div>
      </div>
    </div>
    <div>
      <label for="email">Email</label>
      <div class="flex align-center">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter email"
          [(ngModel)]="contact.email"
          #email="ngModel"
          required
        />
        <img
          src="../../../assets/icons/email-grey.svg"
          alt="email"
          class="input-icon"
        />
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">Email is required.</div>
      </div>
    </div>
    <div>
      <label for="phone">Phone</label>
      <div class="flex align-center">
        <input
          type="number"
          id="phone"
          name="phone"
          placeholder="Enter phone"
          [(ngModel)]="contact.phone"
          #phone="ngModel"
          required
        />
        <img
          src="../../../assets/icons/phone-grey.svg"
          alt="phone"
          class="input-icon"
        />
      </div>
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <div *ngIf="phone.errors.required">Phone is required.</div>
      </div>
    </div>
    <button class="btn">Save Contact</button>
  </form>
</section>
