@import "../../../assets/scss/setup/variables";
@import "../../../assets/scss/setup/mixins";

.home-page {
  .home-page-content {
    flex: 1;
    margin: 0;
    .hello-container {
      background-color: $clr3;
      color: $clr1;
      text-align: left;
      width: 100%;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      .coins-icon {
        width: 25px;
        height: 25px;
      }
      span {
        margin-inline-start: 10px;
      }
    }
    .btn-cta {
      width: 100%;
      margin-top: 20px;
    }
  }
  .home-img {
    width: 500px;
    padding: 20px 0 20px 20px;
    object-fit: contain;
  }
}

@include for-medium-layout {
  .home-page {
    flex-direction: column;
    .home-page-content {
      width: 100%;
      .hello-container {
        .btn-cta {
          width: 50%;
        }
      }
    }
    .home-img {
      width: 400px;
      padding: 20px 0 0 0;
      align-self: flex-end;
    }
  }
}

@include for-narrow-layout {
  .home-page {
    .home-page-content {
      .hello-container {
        .btn-cta {
          width: 100%;
        }
      }
    }
    .home-img {
      width: 100%;
      align-self: unset;
    }
  }
}
