.transfer-fund {
  width: 100%;
  padding: 20px;
  background-color: #5a5a5a4a;
  border-radius: 10px;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    > *:not(:first-child) {
      margin-inline-start: 10px;
    }
    input {
      height: 35px;
      border: 1px solid grey;
    }
  }
}
