@import "../../../assets/scss/setup/variables";
@import "../../../assets/scss/setup/mixins";

.contact-filter {
  width: 50%;
  margin: auto;
  label {
    color: whitesmoke;
  }
  input {
    height: 35px;
  }
  img {
    width: 20px;
    position: relative;
    right: 30px;
  }
}

@include for-narrow-layout {
  .contact-filter {
    width: 100%;
  }
}
